/* =============== При ширине экрана 768px ================ */
@media (min-width: 768px) {
  .top-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 7px;
  }
  main {
    width: 100%;
    padding: 0 8px;
  }
  .content {
    margin-left: -8px;
    margin-right: -8px;
  }
  .card-restaurant {
    margin: 0 8px 36px 8px;
  }
  /*
  .card-restaurant:last-child {
    flex-grow: 1;
  }*/
  .restaurant-image {
    height: 249px;
  }
  .footer-body {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .footer-menu__list {
    margin-right: 0;
  }
  .copyright {
    margin-right: 100px;
  }
  .logo__image {
    width: 106px;
  }
  .autoriz,
  .register {
    padding: 0 17px;
    font-size: 13px;
    line-height: 40px;
  }
  .text {
    font-size: 13px;
  }
  .delivery-address {
    width: 210px;
  }
  .delivery-when {
    align-items: center;
  }
  .delivery-when:after {
    font-weight: normal;
    font-size: 13px;
    margin: 0;
  }
}
