* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
}
header {
  width: 100%;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
